{% extends 'base.html.twig' %}


{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create new consultation</h1>
<div class="form_box">    
{{ form_start(form) }}
<div class="form_box-inner">
            <div class="form_box-left">
    {{ form_widget(form) }}
</div>
</div>    
    <button class="default-btn btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
<div class="form_box">
    <form name="consultation" method="post">
        <div class="form_box-inner">
            <div class="form_box-left">
                    <div id="consultation"><div><label for="consultation_name" class="required">Name</label><input type="text" id="consultation_name" name="consultation[name]" required="required"></div><input type="hidden" id="consultation__token" name="consultation[_token]" value="eb10bd3fd9.6XPbARwPXU_XJLCVGIIFqrC_Kr7l34fEDCEMBkxD6S0.2hSjVVJmGByCcsfjSe1h48nLSPbWrsCObXE7TX8BnHKREuM1RVAJIoJu-Q"></div>
                    <button class="default-btn btn">Получить консультацию</button>
                    <button class="btn" type="submit">Получить консультацию</button>
                </form>
            </div>
        </div>        
{% endblock %}
