@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5obi9f');
  src:  url('fonts/icomoon.eot?5obi9f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5obi9f') format('truetype'),
    url('fonts/icomoon.woff?5obi9f') format('woff'),
    url('fonts/icomoon.svg?5obi9f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}
.icon-check:before {
  content: "\f00c";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-share:before {
  content: "\f064";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-phone:before {
  content: "\f095";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-mail-reply-all:before {
  content: "\f122";
}
.icon-reply-all:before {
  content: "\f122";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-vk:before {
  content: "\f189";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-telegram:before {
  content: "\f2c6";
}
