@media (max-width: 1156px){
    .servises_items{
        display: block;
    }
    .servises_item{
        margin: 30px auto;
        max-width: 80%;
        min-height: 330px;
    }
    .form_inner{
        background-image: none;
        min-height: 0px;
    }
    .news_inner{
        display: block;
    }
    .news_slider{
        max-width: 100%;
        margin-bottom: 90px;
    }
    .news_blog{
        max-width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    .news_blog::after{
        content: "";
        clear: both;
        display: block;
    }
    .news_images{
        float: left;
        margin-right: 50px;
    }
    .news{
        padding-bottom: 60px;
    }
    #newsCarousel .default-btn.admin{
        left: -15%;
    }
    .page_servise .slider_item-content img{
        height: 805px;
        max-width: 1150px;
    }
    .about_item.reviews .img_about img{
        max-width: 170px;
    }
}
@media (max-width: 1050px){
    .footer_inner{
        display: block;
    }
    .footer_map{
        max-width: 100%;
    }
    .footer_info{
        margin-bottom: 30px;
        max-width: 460px;
    }

    .page_servise .slider_item-content img{
        height: 735px;
        max-width: 1050px;
    }
    .about_item_document .achievement_about_embed{
        max-width: 280px;
    }
    .about-document{
        max-width: 280px;
    }
    .achievement_about_embed embed {
        max-width: 275px;
    } 
    .servises_btn{
        display: inline-block;
    } 
    .servises_btn.form{
        display: flex;
    } 
}
@media (max-width: 900px){
    .slider .slick-btn{
        display: none !important;
    }
    .slider_text.swipe{
        display: block;
    }
    .servises_top,
    .news_top{
        display: block;
    }
    .rating-area-mini.hidden-mini-rating,
    .rating-area-mini.hidden-mini-rating.blog,
    .hidden-mini-rating {
	    display: block;
    }
    .rating-area.hidden-rating.blog,
    .rating-area.hidden-rating,
    .rating-result.hidden-rating,
    .rating-result.hidden-rating.blog{
        display: none; 
    }
    .servises_title-box,
    .form_title-box,
    .form_title-left,
    div#consultation,
    .news_title-box
    .page_new news_title-box{
        padding-left: 0px;
        text-align: center;
        margin: 0px auto 30px;
    }
    .servises_title-box::before,
    .form_title-box::before,
    .news_title-box::before,
    .page_new news_title-box::before{
        display: none;    
    }
    .servises_btn,
    .news_btn{
        /* text-align: center; */
        text-align: left;
    }
    .add_new-form .form_box-inner{
        display: block;
    }
    
    .form_box-inner{
        display: block;
    }
    .form_box-left{
        max-width: 100%;
    }
    .form_box-right{
        max-width: 100%;
    }
    .form-box-inner .jq-selectbox__select{
        margin-bottom: 10px;
    }
    .form{
        padding-bottom: 25px;
    }
    .form_box-inner button.default-btn.btn{
        margin-right: 50px;
    }
    .advantages__inner{
        display: block;
    }
    .advantages-item{
        max-width: 100%;
        margin-bottom: 30px;
    }
    .page_servise .service_embed embed{  
        height: 400px;   
    }
    .page_blog .blog_top{   
        display: block;
    }
    .page_blog .img_servises-1{
        margin-right: 20px; 
    }
    /* .blog_slider-inner .slick-btn{
        bottom: -20px;
    } */
    .page_servise .slider_item-content img{
        height: 630px;
        max-width: 900px;
    }
    .rewiews_block{
        max-width: 460px;
    }
    .about_item_document .achievement_about_embed{
        max-width: 235px;
    }
    .about-document{
        max-width: 235px;
    }
    .achievement_about_embed embed {
        max-width: 230px;
    } 
    .about_item.reviews .img_about img{
        max-width: 140px;
    } 
}
@media (max-width: 800px){
    .blog_slider-inner .default-btn.admin.del,
    .blog_slider-inner .default-btn.admin.edit{
        left: 0px;
    }
    /* .page_about .page.news_blog.none,
    .page_about .page.news_blog-user.none{
        max-width: 460px;
    } */
    .page_servise .slider_item-content img{ 
        height: 560px;
        max-width: 800px;
    }
    .about_item_document .achievement_about_embed{
        max-width: 205px;
    }
    .about-document{
        max-width: 205px;
    }
    .achievement_about_embed embed {
        max-width: 200px;
    } 
    .about_item.reviews .img_about img{
        max-width: 130px;
    }  
@media (max-width: 700px){
    .header_btn{
        float: none;
    }
    .header_contacts{
        text-align: center;
    }
    .header_btn-menu{
        display: block;
    }
    .menu ul{
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
        z-index: 50;
    }
    .menu li{
        display: block;
        text-align: center;
    }
    .menu a{
        display: block;
        background-color: #ffc222;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    .menu li + li{
        padding-left: 0;
    }
    .add_new-form{
        padding: 5px;
    }
    .add_new-form .form_box-right{
        padding: 5px;
    } 
    .add_new-form .form_box-inner .textarea-article{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .add_new-form .form_box-inner .textarea-prev{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .add_new-form .form_box-inner .textarea-author{
        margin: 5px;
        margin-top: 5;
    }
    .add_new-form .form_box-inner label{
        line-height: 12px;
        padding: 5px;
    }
    .add_new-form .form_box{
        /* height: 1950px;   */
    }
    .form_box-inner button.default-btn.btn{
        margin-right: 0px;
    }
    img.page_new_foto{
        max-width: 300px;
    }
    .page_servise .servises_item-btn{    
        flex-direction: column; 
         
    }
    .page_servise .servises_item-text{
        padding-bottom: 30px;
    }
    .page_servise .slick-btn{
        display: none !important;
    }
    .contact_top{
        display: block;
        justify-content: none;
    }
    .contact_item-text{
        letter-spacing: 0.1px;
        padding: 0px 0px 0px;
        margin-top: 30px;
    }
    .about_top{   
        display: block;
    }
    .about_item-title{
        margin-left: 30px;
        padding-left: 10px;
    }
    .img_about{
        margin-right: 10px;
    }
    .about_item-text,
    .about_item-title{
        padding: 0px 0px 5px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    /* .page_about .page.news_blog.none,
    .page_about .page.news_blog-user.none{
        max-width: 360px;
    }  */
    .page_servise .slider_item-content img{
        height: 490px;
        max-width: 700px;
    } 
    .rewiews_block{
        max-width: 360px;
    } 
    .about_item-btn{
        display: inline-block;
    }
    .about_slider .slick-btn{
        display: none !important;
    }
    .about_item_document .achievement_about_embed{
        max-width: 170px;
    }
    .about-document{
        max-width: 170px;
    }
    .achievement_about_embed embed {
        max-width: 170px;
    }
    .about_item.reviews .img_about img{
        max-width: 100px;
    }    
}
@media (max-width: 600px){   
    .servises_item{
        margin: 30px auto;
        max-width: 100%;
        min-height: 375px;
    }
    /* .page_about .page.news_blog.none,
    .page_about .page.news_blog-user.none{
        max-width: 260px;
    } */
    .page_servise .slider_item-content img{
        height: 420px;
        max-width: 600px;
    }
    .rewiews_block{
        max-width: 300px;
    } 
    .about_item_document{
        display: block;
        flex-direction: column;
    }
    .about_item_document .achievement_about_embed{
        max-width: 450px;
    }
    .about-document{
        display: block;
        max-width: 450px;
    } 
    .about_item_document{
        display: block;
        flex-direction: none;
        justify-content: none;
    } 
    .about_item_document .achievement_about_embed{
        max-width: 550px;
    }
    .about-document{
        max-width: 550px;
    }
    .achievement_about_embed embed {
        max-width: 100%;
    } 
    .about_item.reviews .img_about img{
        max-width: 85px;
    } 
}
@media (max-width: 540px){
    .add_new-form .form_box-inner input{
        height: 80px;
    }   
    .news_slider{
        padding: 50px 25px 25px 25px;
    }
    .news_slider::before{
        left: 25px;
    }
    .news_slider-inner .slick-next{
        right: -20px;
    }
    .news_slider-inner .slick-prev{
        right: 35px;
    }
    .news_images{
        float: none;
    }
    .news_slider-inner .slick-btn{
        bottom: -90px;
    }
    img.page_new_foto{
        max-width: 100%;
    }
    .page_servise .service_embed embed{
        padding: 0;
        height: 300px;   
    }
    .page_servise .service_item-text{
        padding: 0;
    }
    .page_servise .slider_title{
        font-size: 15px;
    }
    .page_reviews{
        padding: 0px 5px 5px 0px;
    }
    /* .page_about .page.news_blog.none,
    .page_about .page.news_blog-user.none{
        max-width: 200px;
    }  */
    .page_servise .slider_item-content img{
        height: 350px;
        max-width: 500px;
    } 
    .rewiews_block{
        /* max-width: 260px; */
        margin: 5px;
    } 
    .about_item{
        padding: 30px 5px 30px;
    }
    .rewiews_block .page.news_blog.none{   
        max-width: 94%;
    } 
    .about_item_document .achievement_about_embed{
        max-width: 450px;
    }
    .about-document{
        max-width: 450px;
    } 
    /* .achievement_about_embed embed {
        max-width: 250px;
    }      */
    .img_blogs-1{
        max-height: 280px;
        float: right;
    }
    .servises_btn,
    .news_btn{
        text-align: left;
    }
    .about_item.reviews .img_about img{
        max-width: 85px;
    }
}
@media (max-width: 414px){
    .slider_title{
        font-size: 24px;
    }
    .slider_text{
        font-size: 16px;
    }
    .img_about img{
        width: 100%;
    }
    /* .page_about .page.news_blog.none,
    .page_about .page.news_blog-user.none{
        max-width: 160px;
    } */
    .page_servise .slider_item-content img{
        height: 290px;
        max-width: 414px;
    } 
    .rewiews_block{
        max-width: 270px;
    } 
    .about_item_document .achievement_about_embed{
        max-width: 410px;
    }
    .about-document{
        max-width: 410px;
    } 
    /* .achievement_about_embed embed {
        max-width: 405px;
    }       */
    .img_blogs-1{
        max-height: 230px;
        float: right;
    }
    .page_blogs .blog_top{
        display: inline-block;
    }
    .form_article-button{
        display: block;
        justify-content: flex-start;
        text-align: left;
    }
    .about_item.reviews .img_about img{
        max-width: 280px;
    }
    .img_about.rewiews{
        display: block;
    }
}
@media (max-width: 400px){
    .advantages-item{
        padding: 0;
    }
    .page_servise .slider_item-content img{
        height: 280px;
        max-width: 400px;
    } 
    .servises_btn.form{
        display: inline-block;
        justify-content:flex-start;
        text-align: left;
        align-items: flex-start;
    } 
    .page_blogs .servises_top
{
    display: block;
}      
}
@media (max-width: 375px){
    .header_email{
        padding-right: 30px;
    }    
    .page_new .news_title{
        font-size: 30px;
    }
    .page_new .news_blog-title{
        font-size: 18px;
    }
    /* .page_servise .servises_item{
        min-height: 1350px;
    }  */
    .page_servise .slider_item-content img{
        height: 262px;
        max-width: 375px;
    } 
    .about_item_document .achievement_about_embed{
        max-width: 300px;
    }
    .about-document{
        max-width: 300px;
    } 
    /* .achievement_about_embed embed {
        max-width: 290px;
    }    */
}
@media (max-width: 325px){
    .page_servise .servises_item{
        min-height: 1500px;
        height: 100%;
    } 
    .page_servise .slider_item-content img{
        height: 227px;
        max-width: 325px;
    } 
    .rewiews_block{
        /* max-width: 180px; */
    }    
}
@media (min-width: 700px){
    .menu ul{
        display: block !important;
    }
}