{% block fast_consultation %}
<div id="hidden-content">
    {{ form_start(fast_consultation_form) }}
        {{ form_widget(fast_consultation_form) }}
        <input type="submit" value="Отправить">
    {{ form_end(fast_consultation_form) }}
</div>
{% endblock %}