{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<section class="add_new-form">
        <div class="container">
                <div class="form_content">
                    <div class="form_title-box">
                        <div class="form_title">
                            Редактировать элемент слайдера главной страницы
                        </div>
                        <div class="form_text">
                            При заполнении формы,пожалуйста следуйте правилам сайта и подсказкам системы.
                        </div>
                    </div>
                        {{ include('slider/_form.html.twig', {'button_label': 'Update'}) }}
                     <div class="item-btn_edit-slider-home">
                        {{ include('slider/_delete_form.html.twig') }}
                    </div>
                    </div>   
                </div>    
        </div>
</section>      
{% endblock %}

{% block javascripts %}
    {{ include('js.html.twig') }}
{% endblock %}
