{% extends 'base.html.twig' %}

{% block title %}Страница создания нового слайдера главной страницы{% endblock %}

{% block body %}
<section class="add_new-form">
        <div class="container">
        {% for label, messages in app.flashes(['success', 'notice']) %}
                {% for message in messages %}
                    {% if message %}
                        <div class="flash-{{ label }} notice_message">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
                <div class="form_content">
                    <div class="form_title-box">
                        <div class="form_title">
                            Добавить элемент слайдера главной страницы
                        </div>
                        <div class="form_text">
                            При заполнении формы,пожалуйста следуйте правилам сайта и подсказкам системы.
                        </div>
                    </div>
                     {{ include('slider/_form.html.twig') }}
                    </div>   
                </div>    
        </div>
</section>                   
{% endblock %}

{% block javascripts %}
    {{ include('js.html.twig') }}
{% endblock %}
